---
import StarlightPage from "@astrojs/starlight/components/StarlightPage.astro";

import { Card, CardGrid } from "@astrojs/starlight/components";
---

<StarlightPage
  frontmatter={{
    title: "Checkmate - Simple, composable and effective state management",
    template: "splash",
    hero: {
      title: "Streamline Your Test Case Management",
      tagline:
        "Empowering your testing pipeline with a feature-rich, Remix-powered platform offering reports and run management.",
      actions: [
        {
          text: "Get started",
          link: "/project/introduction",
          icon: "right-arrow",
        },
      ],
    },
  }}
>
  <CardGrid>
    <Card title="Test Management" icon="seti:default">
      <ul class="list-inside">
        <li>Organize tests with project-level segregation</li>
        <li>Create and manage test runs effortlessly</li>
        <li>Track and monitor test progress in real-time</li>
        <li>Effortlessly migrate by uploading .csv's</li>
      </ul>
    </Card>

    <Card title="Integration APIs" icon="seti:html">
      <ul class="list-inside">
        <li>Streamline the entire testing lifecycle</li>
        <li>Integrate with your automation systems</li>
        <li>Create and update test runs programmatically</li>
      </ul>
    </Card>

    <Card title="Reporting & Analytics" icon="rocket">
      <ul class="list-inside">
        <li>Generate detailed test run reports</li>
        <li>Download and share results</li>
        <li>Analyze test data for actionable insights</li>
        <li>Download Tests in .csv format</li>
      </ul>
    </Card>

    <Card title="Access Control & Security" icon="approve-check-circle">
      <ul class="list-inside">
        <li>Role-Based Access Control (RBAC) for secure usage</li>
        <li>Granular permissions for individuals</li>
        <li>Secure handling of sensitive test data</li>
      </ul>
    </Card>
  </CardGrid>
</StarlightPage>
